<div class="container-fluid">
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="h4">Author´s Name</th>    
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor = "let author of authors"
                        (click)="onSelected(author.id)">
                        <td style="cursor: pointer;"> 
                <dd>{{author.name}}</dd>
                </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-8">
            <div *ngIf="selectedAuthor">
                <app-author-detail [authorDetail]="selectedAuthor"></app-author-detail>
            </div>
        </div>   
    </div>
</div>
